<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<h2><%= @game.player_2.name %>: <%= @game.player_2.hitpoints %>HP</h2>
<form action="/attacked">
<input type="submit" value="Attack!">
